/*
 * Slick Custom Settings
 */

.slick-next,
.slick-prev {
  transition-duration: 1s;
}

.slick-next:hover,
.slick-prev:hover {
  transform: rotateX(180deg);
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
  font-size: 40px;
}

.slick-next {
  right: 40px;
  z-index: 99;
}
.slick-prev {
  left: 20px;
  z-index: 100;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #000;
}

.slide li img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.slide {
  padding: 0;
}
